{% extends 'base.html' %}

{% block title %}GSM Surge Warner - Graph{% endblock %}

{% block head %}
<style>
    .control-center {
        text-align: center;
    }
    #sectionhead #legends {
        display: inline;
    }
    #legends {
        right: 0;
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Chart.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/jqvmap/jqvmap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/daterangepicker/daterangepicker.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/summernote/summernote-bs4.css') }}">
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-3" style="border-right: 1px solid rgb(209, 206, 206);">		
			{% include 'arduino.html' %}
		</div>
		<div class="col-md-9">
			<div id="sectionhead">
				<h3><span class="fas fa-line-chart"></span> Graph</h3>
			</div>
			<hr>
            <div class="container" style="overflow-y: scroll; overflow-x: scroll; height: 500px;">
				<div class="container">
					<div class="card-body border rounded" id="card_body">
						<canvas id="chart" height="300" style="margin: auto; width: 100%;background-color:#c2eee4;"></canvas>
					</div>
					<div class="card-footer">
						<form action="/graph/process" method="post">
							<div class="form-group">
								<select name="transmitter" id="transmitter" class="form-control">
									{% for t in transmitters: %}
										<option>{{ t.name }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="table">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<input type="date" id="date_begin" name="date_begin" class="form-control" />
										</div>
									</div>
									<div class="col-sm-1">&#10140;</div>
									<div class="col-sm-4">
										<div class="form-group">
											<input type="date" id="date_end" name="date_end" class="form-control" />
										</div>
									</div>
									<div class="col-sm-3 text-right">
										<input type="submit" class="btn btn-info" value="Process">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
<script language="javascript" src="{{ url_for('static', filename='js/Chart.js') }}"></script>
<script language="javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script language="javascript" src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>
<script language="javascript" src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/plugin/sparklines/sparkline.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugin/jqvmap/jquery.vmap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugin/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugin/jquery-knob/jquery.knob.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugin/moment/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugin/daterangepicker/daterangepicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugin/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugin/summernote/summernote-bs4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugin/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<script language="javascript">
	$(document).ready(function(){

        var times = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'];

    	// var data = [4, 3, 5, 2, 3, 1, 5, 6, 3.5 , 4, 2.8, 0];

		var times = JSON.parse('{{ times | tojson }}');

		var data = JSON.parse(' {{ water_distance | tojson }} ')

		var legend = JSON.parse(' {{ legend | tojson }} ');

		var chartData = {
			labels : times,
			datasets: [
				{
					label: legend,
					fill: true,
					lineTension: 0.1,
					backgroundColor: "rgba(75,192,192,0.4)",
					borderColor: "rgba(75,192,192,1)",
					// borderColor: "red",
					borderCapStyle: 'butt',
					borderDash: [],
					borderDashOffset: 0.0,
					// borderJoinStyle: 'miter',
					borderJoinStyle: 'string',
					pointBorderColor: "rgba(75,192,192,1)",
					pointBackgroundColor: "#fff",
					pointBorderWidth: 1,
					pointHoverRadius: 5,
					// pointHoverBackgroundColor: "rgba(75,192,192,1)",
					pointHoverBackgroundColor: "red",
					pointHoverBorderColor: "rgba(220,220,220,1)",
					pointHoverBorderWidth: 2,
					pointRadius: 1,
					pointHitRadius: 10,
					data: data,
					spanGaps: false,
					// options: {
					// 	scales: {
					// 		yAxes: [{
					// 			ticks: {
					// 				reverse: true,
					// 				beginAtZero:true,
					// 				start: 0,
					// 				callback: function(value, index, values) {
					// 					return value + "m";
					// 				},
					// 			}
					// 		}],
					// 		xAxes: [{
					// 				ticks: {
					// 				reverse: true,
					// 				beginAtZero: true,
					// 				start: 0,
					// 			}
					// 		}]
					// 	},
					// 	rotation: (0.5 * Math.PI)
					// }
				}
			]
		};

		var holder = document.getElementById("chart");
		var ctx = document.getElementById("chart").getContext("2d");

		// create the chart using the chart canvas
		var chart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
					return tooltipItems.yLabel + ' meter(s)';
				}
            }
          },
        }
      });

        $("#graph").addClass('active');

		$("#date_begin").value = new Date();
		$("#date_end").value = new Date();

		$("#card_body").dblclick(function(){
			if ($(this).hasClass('fullscreen')){
				$(this).removeClass('fullscreen');
			}
			else {
				$(this).addClass('fullscreen');
			}
		});
    })
</script>
{% endblock %}