{% extends 'base.html' %}

{% block title %}GSM Surge Warner - Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Chart.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Chart.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/chat/style.css') }}">
<link href="{{ url_for('static', filename='vendor/fullcalendar/main.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='vendor/map/style.css') }}" rel='stylesheet' />

	
<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

<!-- maps -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<!-- local file / offline -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}">
<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script> -->

<!-- search -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>     
<!-- end maps -->

 
<style>
  #script-warning {
      display: none;
      background: #eee;
      border-bottom: 1px solid #ddd;
      padding: 0 10px;
      line-height: 40px;
      text-align: center;
      font-weight: bold;
      font-size: 12px;
      color: red;
    }

    #loading {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    #calendar {
      max-width: 1100px;
      margin: 40px auto;
      padding: 0 10px;
    }

    .fc-daygrid-day-number, .fc-col-header-cell-cushion {
      color: white !important
    }
    .fc-day-today{
      background: rgb(233, 240, 241) !important;
    }
    .fc-day-today:hover {
      background: rgb(186, 194, 196) !important;
    }
    .fc-day-today .fc-daygrid-day-number{
      color: grey !important;
    }

    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

   .card-tools {
     margin-top: -4%;
     float: right;
   }
</style>

<script src="{{ url_for('static', filename='vendor/fullcalendar/main.js') }}"></script>
<script>
      // FULL CALENDER

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        // var calendarEl = $('#calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          displayEventTime: false,
          initialDate: '2019-04-01',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,listYear'
          },
          events: {
            url: 'ics/feed.ics',
            format: 'ics',
            failure: function() {
              document.getElementById('script-warning').style.display = 'block';
            }
          },
          loading: function(bool) {
            document.getElementById('loading').style.display =
              bool ? 'block' : 'none';
          }
        });

        calendar.render();
        calendar.today();
      });
</script>
{% endblock %}

{% block body %}
<div>
    <!-- Content Header (Page header) -->
    <!-- <div class="text-danger">
      <pre>
        {{data['detection_history']}}
      </pre>
    </div> -->         
            <h1>{{session['user'].user.role.role_access}}</h1>
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <div class="breadcrumb float-sm-right">
              <div class="breadcrumb-item">
                <div>
                  <i id="status" class="fas fa-microchip"></i>
                  |
                  <span>
                    <strong class="text-dark" id="time"></strong>
                    <small class="text-info" id="date"></small>
                  </span>
                </div>
              </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="container-fluid">
      <!-- boxes -->
      <div class="row">
        <div class="col-md-3">
            <div class="card bg-info">
              <!-- <div class="card-header"></div> -->
              <div class="card-body text-light">
                <div class="row">
                  <div class="col-sm-7 text-left">
                    <h1 class="Count">{{data['transmitter_count']}}</h1>
                    <span>
                      Transmitters
                    </span>
                  </div>
                  <div class="col-sm-5 text-muted text-center align-center">
                    <h1 class="fas fa-broadcast-tower" style="font-size: 3rem;"></h1>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center text-white">
                <a href="/transmitter">
                  <span class="text-white">More info</span>
                  <i class="fas fa-arrow-circle-right text-light"></i>
                </a>
              </div>
            </div>
        </div>

        
        <div class="col-md-3">
            <div class="card bg-success">
              <!-- <div class="card-header"></div> -->
              <div class="card-body text-light">
                <div class="row">
                  <div class="col-sm-7 text-left">
                    <h1 class="Count">{{data['users_count']}}</h1>
                    <span>
                      Users
                    </span>
                  </div>
                  <div class="col-sm-5 text-muted text-center align-center">
                    <h1 class="fas fa-user" style="font-size: 3rem;"></h1>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center text-white">
                <a href="/users/list">
                  <span class="text-white">More info</span>
                  <i class="fas fa-arrow-circle-right text-light"></i>
                </a>
              </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-warning">
              <!-- <div class="card-header"></div> -->
              <div class="card-body text-light">
                <div class="row">
                  <div class="col-sm-7 text-left">
                    <h1 class="Count">{{data['message_count']}}</h1>
                    <span>
                      Messages
                    </span>
                  </div>
                  <div class="col-sm-5 text-muted text-center align-center">
                    <h1 class="fas fa-mail-bulk" style="font-size: 3rem;"></h1>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center text-white">
                <a href="/extrasms">
                  <span class="text-white">More info</span>
                  <i class="fas fa-arrow-circle-right text-light"></i>
                </a>
              </div>
            </div>
        </div>


        <div class="col-md-3">
          <div class="card bg-danger">
            <!-- <div class="card-header"></div> -->
            <div class="card-body text-light">
              <div class="row">
                <div class="col-sm-7 text-left">
                  <h1 class="Count">{{data['alerts_count']}}</h1>
                  <span>
                    Alerts
                  </span>
                </div>
                <div class="col-sm-5 text-muted text-center align-center">
                  <h1 class="fas fa-warning" style="font-size: 3rem;"></h1>
                </div>
              </div>
            </div>
            <div class="card-footer text-center text-white">
              <a href="/sms">
                <span class="text-white">More info</span>
                <i class="fas fa-arrow-circle-right text-light"></i>
              </a>
            </div>
          </div>
      </div>
      </div>
      <!-- end boxes -->

      <br>

      <!-- chart main -->
      <div class="card bg-info">
        <div class="card-header">
          <h3 class="card-titlen text-light">
            <i class="fas fa-chart-line mr-1"></i>
            Detection History
          </h3>
          <div class="card-tools">
            <select name="year" id="year"></select>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body bg-light">
          <div class="tab-content p-0">
            <div>              
				      <canvas id="historyChart" height="300" style="margin: auto; width: 100%;"></canvas>
            </div>
          </div>
        </div><!-- /.card-body -->
      </div>
      <!-- /.card -->
      <!-- end chart main -->

      <br>

      <div class="row">
        <div class="col-md-5">
          <div class="card bg-light">
            <div class="card-header">
              <b class="card-titlen text-default">
                <i class="fas fa-chart-bar mr-1"></i>
                Messages
              </b>
            </div>
            <div class="card-body">
              <div class="tab-content p-0">
                <canvas id="dangerAlertChart" style="width: 100%;"></canvas>
               </div>
            </div>
          </div>

          <br>

          <div class="card bg-light">
            <div class="card-header">
              <b class="card-titlen text-default">
                <i class="fas fa-chart-pie mr-1"></i>
                Users
              </b>
            </div>
            <div class="card-body">
              <div class="container">
                <canvas id="userChart"></canvas>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="col-md-7">
          <!-- calendar -->
          <div class="card bg-success text-light">
            <div class="card-header">
              <b class="card-titlen text-light">
                <i class="fas fa-calendar mr-1"></i>
                Calender
              </b>
              <div class="card-tools">
              </div>
            </div>
            <div class="card-body">
              <div>              
                <div id='script-warning'>
                  <code>ics/feed.ics</code> must be servable
                </div>
              
                <div id='loading'>loading...</div>
              
                <div id='calendar' style="color: white !important; margin-top: -10px;"></div>
                
              </div>
            </div><!-- /.card-body -->
          </div>
          <!-- end calendar -->
        </div>
      </div>

      <section>
        <div class="card bg-light">
          <div class="card-header">
            <b class="card-titlen text-default">
              <i class="fas fa-map mr-1"></i>
              Map
            </b>
          </div>
          <div class="">
            <div id="mapid" style="width: 100%; height: 500px;"></div>
          </div>
        </div>
      </section>

    </div>
</div>
{% endblock %}

{% block script %}
<script language="javascript" src="{{ url_for('static', filename='js/Chart.js') }}"></script>
<script language="javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script language="javascript" src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>
<script language="javascript" src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
<!-- <script language="javascript" src="{{ url_for('static', filename='vendor/fullcalendar/main.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/dashboard/history-chart.js') }}"></script> -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly" async></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"></script> -->

<script>
  $(document).ready(function(){
    Chart.defaults.global.responsive = false;

		// var times = {{times|safe}};

		// var data = {{water_distance|safe}};

    var times = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'];

    var data = [4, 3, 5, 2, 3, 1, 5, 6, 3.5 , 4, 2.8, 0];

		var legend = "Water distance from sensor";

		var chartData = {
			labels : times,
			datasets: [
				{
					label: legend,
					fill: true,
					lineTension: 0.1,
					backgroundColor: "rgba(75,192,192,0.4)",
					borderColor: "rgba(75,192,192,1)",
					borderCapStyle: 'butt',
					borderDash: [],
					borderDashOffset: 0.0,
					borderJoinStyle: 'miter',
					pointBorderColor: "rgba(75,192,192,1)",
					pointBackgroundColor: "#fff",
					pointBorderWidth: 1,
					pointHoverRadius: 5,
					pointHoverBackgroundColor: "rgba(75,192,192,1)",
					pointHoverBorderColor: "rgba(220,220,220,1)",
					pointHoverBorderWidth: 2,
					pointRadius: 1,
					pointHitRadius: 10,
					data: data,
					spanGaps: false,
					options: {
						scales: {
							yAxes: [{
								ticks: {
									reverse: true,
									beginAtZero:true,
									start: 0,
									callback: function(value, index, values) {
										return value + "m";
									},
								}
							}],
							xAxes: [{
									ticks: {
									reverse: true,
									beginAtZero: true,
									start: 0,
								}
							}]
						},
						rotation: (0.5 * Math.PI)
					}
				}
			]
		};

		var holder = document.getElementById("historyChart");
		var ctx = document.getElementById("historyChart").getContext("2d");

		// create the chart using the chart canvas
		var historyChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
					return tooltipItems.yLabel + ' percent';
				}
            }
          },
        }
      });

      // get the text element below the chart
      var pointSelected = document.getElementById("pointSelected");

      // create a callback function for updating the selected index on the chart
      holder.onclick = function(evt){
        var activePoint = historyChart.getElementAtEvent(evt);
        console.log(activePoint);
        console.log('x:' + activePoint[0]._view.x);
        console.log('maxWidth: ' + activePoint[0]._xScale.maxWidth);
        console.log('y: ' + activePoint[0]._view.y);
        console.log('index: ' + activePoint[0]._index);
        pointSelected.innerHTML = 'Point selected... index: ' + activePoint[0]._index;
      };

	    //   $('#datePicker1').val(new Date().toDateInputValue());

      var ctx = document.getElementById("userChart").getContext('2d');
      var userChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ["Green", "Blue", "Gray", "Purple", "Yellow", "Red", "Black"],
          datasets: [{
            backgroundColor: [
              "#2ecc71",
              "#3498db",
              "#95a5a6",
              "#9b59b6",
              "#f1c40f",
              "#e74c3c",
              "#34495e"
            ],
            data: [12, 19, 3, 17, 28, 24, 7]
          }]
        }
      });
      // End user chart

      // Danger Alert Chart
      new Chart(document.getElementById("dangerAlertChart"), {
        type: 'bar',
        data: {
          labels: ["1900", "1950", "1999", "2050"],
          datasets: [
            {
              label: "Africa",
              backgroundColor: "#3e95cd",
              data: [133,221,783,2478]
            }, {
              label: "Europe",
              backgroundColor: "#8e5ea2",
              data: [408,547,675,734]
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Population growth (millions)'
          }
        }
    });
    // end danger alert chart

    // Google map

    // document.getElementById("mapid").style.height = screen.height+"px"; 

    // console.log(screen.height);

    var mymap = L.map('mapid').setView([7.5047, 124.8845], 7);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1
    }).addTo(mymap);

    L.marker([7.5047, 124.8845]).addTo(mymap)
      .bindPopup("<b>Hello!</b><br />Be there soon!").openPopup();

    L.circle([51.508, -0.11], 500, {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5
    }).addTo(mymap).bindPopup("I am a circle.");

    L.polygon([
      [51.509, -0.08],
      [51.503, -0.06],
      [51.51, -0.047]
    ]).addTo(mymap).bindPopup("I am a polygon.");


    var popup = L.popup();

    function onMapClick(e) {
      popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(mymap);
    }

    // search
    L.Control.geocoder().addTo(mymap);

    mymap.on('click', onMapClick);

    // End google map


    $("#dashboard").addClass('active');

    // tick time
    function ticktime() {
        var d = new Date(Date.now());
        var target = document.getElementById("time");
        target.innerHTML = d.toLocaleTimeString();
        $("#date").text(d.toDateString());
    }
    setInterval(ticktime, 1000);
    // end tick time

    // detect arduino
    
    function detectArduino() {
      $.ajax({
            url:'/arduino/render',
            type:'post',
            data:{},
            success:function(data) {
                if(data.connected) {
                    $("#status").removeClass("text-danger");
                    $("#status").addClass("text-success");
                    $("#status").text(" Connected!");
                }
                else {
                    $("#status").removeClass("text-success");
                    $("#status").addClass("text-danger");
                    $("#status").text(" Disconnected!");
                }
                $("#r_status").removeClass("fas fa-spinner fa-spin text-light");
            }
        })
    }
    detectArduino();
    // end detect arduino

    $('.Count').each(function () {
      var $this = $(this);
      jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
        duration: 1000,
        easing: 'swing',
        step: function () {
          $this.text(Math.ceil(this.Counter));
        }
      });
    });

    // Create dropdown year
    (function () {
        var year_start = 2020;
        var year_end = 2030; //current year
        var selected_year = (new Date).getFullYear(); // 0 first option

        var option = '<option>year</option>';  //first option

        for (var i = 0; i <= (year_end - year_start); i++) {
            var year = (year_start+i);
            var selected = (year == selected_year) ? ' selected' : '';
            option += '<option value="' + year + '"'+selected+'>' + year + '</option>';
        }
        document.getElementById('year').innerHTML = option;
    })();

  })
</script>
{% endblock %}