{% extends 'base.html' %}

{% block title %}GSM Surge Warner - Users{% endblock %}

{% block head %}
<style>
    .control-center {
        text-align: center;
    }
    #sectionhead #legends {
        display: inline;
    }
    #legends {
        right: 0;
    }
	button.btn-success{
		background-color: green !important;
		color: white !important;
	}
	button.btn-warning{
		background-color: orange !important;
	}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}">
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-3" style="border-right: 1px solid rgb(209, 206, 206);">		
			{% include 'arduino.html' %}
		</div>
		<div class="col-md-9">
			<div id="sectionhead">
                <span style="font-size: 2rem;" class="fas fa-user"> Users </span>
			</div>
			<hr>
            <div class="container" style="overflow-y: scroll; overflow-x: scroll; height: 500px;">
                <table class="table table-sm table-stripped table-hover" id="users_table">
                    <thead class="">
						
					</thead>
                    <tbody>
                        <tr>
                            <td class="align-top"></td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
<script language="javascript">
	$(document).ready(function(){		
		$("#users_table").DataTable({
			'pageLength': 5,
            'processing': true,
            'ajax': {
                'url': '/users/show',
                'dataSrc': ''
            },
            'columns': [
				{
					'title': 'ID',
					'data': 'id'
				},
                {
					'title': 'Username',
					'data': 'username'
				},
                {
					'title': 'Email',
					'data': 'email'
				},
                {
					'title': '<div class="text-center">Action</div>',
					'data': 'id',
					'render': function (data) {
						var view = "<div class='text-center'><a class='btn btn-sm fas fa-search text-info view' href='/users/user-info/"+data+"'> </a>";
							view += "<a class='btn btn-sm fas fa-recycle text-warning' href='/users/edit-info/"+data+"'> </a>";
							view += "<a class='btn btn-sm fas fa-lock text-primary'> </a>";
							view += "<a class='btn btn-sm fas fa-trash text-danger delete' id='"+data+"'> </a></div>";
						return view;
					}
				},
			],
			dom: 'Bfrtip',
			buttons: [
				'copyHtml5',
				'excelHtml5',
				'csvHtml5',
                'pdfHtml5',
				{
					text:'<i class="fas fa-lock"></i> Roles/Access',
					className:'btn-warning',
					action:function(e, dt, node, config) {
						window.location = "/users/roles";
					}
				},
				{
					text:'<i class="fas fa-pen"></i> Add',
					className:'btn-success',
					action:function(e, dt, node, config) {
						window.location = "/users/register";
					}
				}
			]
		})

		$(document).on('click', '.view', function(){
			var id = $(this).attr('id');
			$.ajax({
				url:'',
				method:'',
				data:{id:id},
				success:function(data){

				}
			})
		})

		function refresh() {
			$("#users_table").DataTable().ajax.reload(null, false);
		}
		
		$(document).on('click', '.delete', function(){
			var id = $(this).attr('id');
			$confirm("Do you want to delete?", "#FF9100")
			.then(() => {
				$.ajax({
					url:'/users/delete',
					method:'post',
					data:{id:id},
					success:function(data){
						if (data == 'success') {
							refresh();
							$toast(data, "#dc3545");
						}
						else 
							$toast(data, "#dc3545");
					}
				})
			})
		})
    })
</script>
{% endblock %}