<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>GSM Surge Warner - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
	
  {{ fontawesome_html() }}

	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

<!-- maps -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<!-- local file / offline -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}">
<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script> -->

<!-- search -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>     
<!-- end maps -->

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='home/assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='home/assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='home/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='home/assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='home/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='home/assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='home/assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='home/assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
	<link href="{{ url_for('static', filename='home/assets/css/style.css') }}" rel="stylesheet">

  <style>
    .carousel-background {
      background-size: auto !important;
    }
		.dropdown-toggle:after { content: none }
  </style>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">GSM Surge Warner</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">Home</a></li>
          <li><a href="#maps">Maps</a></li>
          <li><a href="#about">About</a></li>          
          
          
          <li style="cursor: pointer;">
            <div class="dropdown">              
              <span class="fas fa-broadcast-tower text-light dropdown-toggle" id="alert_dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="badge badge-pill badge-danger alert_notification"></span>
                <div class="dropdown-menu" aria-labelledby="alert_dropdownmenu">
                  <div class="container">
                    <h6 class="dropdown-header text-center fas fa-broadcast-tower"> Warnings</h6>
                    <div id="alert_notification_holder">
                    </div>
                    <a style="font-size: .7rem;" class="text-primary text-center btn btn-link" href="/sms">See all</a>
                  </div>
                </div>
              </span>
            </div>
          </li>
          
          <li style="cursor: pointer;">
            <div class="dropdown">              
              <span class="fas fa-comment text-light dropdown-toggle" id="extrasms_dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="badge badge-pill badge-danger extrasms_notification"></span>
                <div class="dropdown-menu" aria-labelledby="extrasms_dropdownmenu">
                  <div class="container">
                    <h6 class="dropdown-header text-center fas fa-comment"> Messages</h6>
                    <div id="extrasms_notification_holder">
                      <!-- <div class="dropdown-item border rounded">
                        <span class="fas fa-user-circle"></span>
                        <small>+63932156465</small>
                        <br>
                        <small>
                          <small class="textdot">Messagelkjslfkjlkjsdflkjsdflkjsdflkj</small>
                        </small>
                      </div> -->
                    </div>
                    <a style="font-size: .7rem;" class="text-primary text-center btn btn-link" href="/sms">See all</a>
                  </div>
                </div>
              </span>
            </div>
          </li>

        </ul>
      </nav><!-- .nav-menu -->

      {% if 'email' in session: %}
        <a href="/users/dashboard" class="get-started-btn scrollto">Dashboard</a>
      {% else %}
        <a href="/users/login" class="get-started-btn scrollto">Login</a>
      {% endif %}

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

          <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background: url(static/home/assets/img/slide/slide-4.jpg); background-size: inherit !important;">
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown">Safety must be on top of priority</h2>
                  <p class="animate__animated animate__fadeInUp">Sa panahon karon nga permi mag usab-usab ang weather, kinahanglan.... blah...  blah... blah...  blah...  blah...  blah...  blah...  blah...  blah... </p>
                  <div>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background: url(static/home/assets/img/slide/slide-5.jpg);">
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
                  <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                  <div>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background: url(static/home/assets/img/slide/slide-6.jpg);">
              <div class="carousel-background"><img src="static/home/assets/img/slide/slide-6.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
                  <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                  <div>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </section><!-- End Hero -->


    <!-- map -->
    <section id="maps" style="margin-top: -4.39%;">
      <div class="">
        <div id="mapid" style="width: 100%;"><i class="fas fa-spinner fa-spin"></i></div>
      </div>
    </section>
    <!-- end map -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Voluptatem dignissimos provident quasi</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>
              <div class="row">
                <div class="col-md-6 icon-box">
                  <i class="bx bx-receipt"></i>
                  <h4>Corporis voluptates sit</h4>
                  <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Ullamco laboris nisi</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bx bx-images"></i>
                  <h4>Labore consequatur</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bx bx-shield"></i>
                  <h4>Beatae veritatis</h4>
                  <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Groovin</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Groovin</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/groovin-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='home/assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='home/assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='home/assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='home/assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='home/assets/vendor/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='home/assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='home/assets/vendor/venobox/venobox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='home/assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='home/assets/js/main.js') }}"></script>

  <!-- Maps JS -->
  <!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
      async
    ></script> -->


  <script>
    $(document).ready(function(){

      document.getElementById("mapid").style.height = screen.height+"px"; 

      var longit, latit;

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.watchPosition(setPosition);
        } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }
          
      function setPosition(position) {
          longit = position.coords.latitude;
          latit = position.coords.longitude;



          // var mymap = L.map('mapid').setView([51.505, -0.09], 13);
          var mymap = L.map('mapid').setView([longit, latit], 5);

          L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
              'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
          }).addTo(mymap);

          // L.marker([8.170712, 125.109558]).addTo(mymap)
          L.marker([longit, latit]).addTo(mymap)
            .bindPopup("<b>Hi there!</b><br />This is your location.").openPopup();

          L.circle([51.508, -0.11], 500, {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5
          }).addTo(mymap).bindPopup("I am a circle.");

          L.polygon([
            [51.509, -0.08],
            [51.503, -0.06],
            [51.51, -0.047]
          ]).addTo(mymap).bindPopup("I am a polygon.");


          var popup = L.popup();

          function onMapClick(e) {
            popup
              .setLatLng(e.latlng)
              .setContent("You clicked the map at " + e.latlng.toString())
              .openOn(mymap);
          }

          // search
          L.Control.geocoder().addTo(mymap);

          mymap.on('click', onMapClick);

      }

      getLocation();

      function queryAlertCount()
			{
				$.ajax({
					url:'/sms/unread_count',
					method:'post',
					data:{},
					success:function(count){
						if (count != 0)
							$(".alert_notification").text(count);
					}
				})
			}

			setInterval(queryAlertCount, 3000);

			function queryExtraSms()
			{
				$.ajax({
					url:'/extrasms/unread_count',
					method:'post',
					data:{},
					success:function(count){
						if (count != 0)
							$(".extrasms_notification").html(count);
					}
				})
			}

			function queryAlert(){
				$.ajax({
					url:'/sms/unread',
					method:'post',
					data:{},
					success:function(datas) {
						var div = "";
						datas.forEach(data => {
							div += "<div class='dropdown-item container-fluid border rounded'>";
								div += "<div>";
									div += "<span>";
										if (data.alert_level == 1) {
											div += "<span class='fas fa-circle text-info'></span>";
										}
										else if (data.alert_level == 2) {
											div += "<span class='fas fa-circle text-yellow'></span>";
										}
										else if (data.alert_level == 3) {
											div += "<span class='fas fa-circle text-warning'></span>";
										}
										else if (data.alert_level == 4) {
											div += "<span class='fas fa-circle text-danger'></span>";
										}
										div += "<small> "+data.transmitter.name+"</small>";
									div += "</span>";
									div += "<br>";
									div += "<small>";
										div += "<small>";
											div += "<span>Water level: </span>";
											div += "<span class='text-muted'>"+ data.water_distance +"m from sensor</span>"
										div += "</small>";
										div += "<br>";
										div += "<small>";
											div += "<span>Location: </span>";
											div += "<span class='text-muted'>"+data.transmitter.location+"</span>";
										div += "</small>";
										div += "<div class='text-center'>";
											div += "<small class='text-info'>"+data.date_sent+"</small>";
										div += "</div>";
									div += "</small>";
								div += "</div>";
							div += "</div>";
						});
						$("#alert_notification_holder").html(div);
					}
				})
			}
			queryAlert();

			function queryExtraSms(){
				$.ajax({
					url:'/extrasms/unread',
					method:'post',
					data:{},
					success:function(datas){
						var div = "";
						datas.forEach(data=>{
							div += '<div class="dropdown-item border rounded">';
								div += '<span class="fas fa-user-circle"></span>';
								div += '<small>'+data.number+'</small>';
								div += '<br>';
								div += '<small>';
									div += '<small class="textdot">'+data.message+'</small>';
								div += '</small>';
							div += '</div>';
						});
						$("#extrasms_notification_holder").html(div);
					}
				})
			}

			queryExtraSms();

			var name = $('.textdot').text();
			if (name.length > 15) {
				var shortname = name.substring(0, 15) + " ...";
				$('.textdot').replaceWith(shortname);
			}
    })

  </script>

</body>

</html>