{% extends 'base.html' %}

{% block title %}GSM Surge Warner - Transmitters/Add{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='vendor/asteroid/as-min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <form role="form" id="add_form">
        <div class="card-header bg-muted text-default">
            <h5><i class="fas fa-pencil-alt"></i> Add Transmitter Module</h5>
        </div>
        <div class="card-body">
            <div class="row border rounded">
                <div class="col-md-6">
                    <legend class="text-danger">Transmitter information</legend>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Transmiiter name</label>
                        <input type="text" class="form-control" name="name" placeholder="Give transmitter a name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Simcard number</label>
                        <input type="text" class="form-control" name="sim_number" placeholder="Enter simcard number">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Post number</label>
                        <input type="number" class="form-control" name="post_number" placeholder="Enter post number">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Post description</label>
                        <textarea type="text" class="form-control" name="post_description" placeholder="Describe where the transmitter being placed"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <br>
                    <div class="form-group">
                        <br>
                        <label for="exampleInputEmail1">Location/Address</label>
                        <input type="text" class="form-control" name="location" placeholder="Enter address">
                    </div>
                    <small class="text-danger">Supply coordinates below in order to be visible in map</small>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Longitude (N)</label>
                        <input type="text" class="form-control" name="longitude" placeholder="Northing">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Latitude (E)</label>
                        <input type="text" class="form-control" name="latitude" placeholder="Easting">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){		

		function makeToast(type, message) {
			if (type == 'success') {			
				toastr.success(message);
			}
			else if (type == 'failed') {			
				toastr.warning(message);
			}
			else if (type == 'missing data') {
				toastr.warning(message);
			}
			else if (type == 'error') {
				toastr.error(message);
			}
			else {
				toastr.info(message);
			}
		}

        

		$("#add_form").on('submit', function(e) {
			e.preventDefault();
			// alert('hi');
			$.ajax({
				url:'/transmitter/store',
				method:'post',
				processData:false,
				contentType:false,
				data: new FormData(this),
				success: function(data) {                    
					makeToast(data, 'Report: '+data);
					$("#add_transmitter_modal").modal('hide');
					$("#add_form")[0].reset();
					refresh();
                    setTimeout(function(){
                        location.href="/transmitter"
                    }, 2000)
				}
			});
		});
    })
</script>
{% endblock %}

