{% extends 'base.html' %}

{% block title %}Transmitters{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}">
<script src="{{ url_for('static', filename='vendor/asteroid/as-min.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-3" style="border-right: 1px solid rgb(209, 206, 206);">		
			{% include 'arduino.html' %}
		</div>
		<div class="col-md-9">
			<div>
				<h3><span class="fas fa-broadcast-tower"></span> Transmitters |
				</h3>
			</div>
			<hr>
			<div style="height: 500px; overflow-y: scroll;" class="container">
				<table class="table" id="transmitters_table"></table>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function(){	
		
		$("#transmitters_table").DataTable({
			"pageLength":8,
			"processing":true,
			'responsive':true,
			"ajax": {
				url:'/transmitter/show',
				dataSrc:''
			},
			"columns":[
				{
					"title": "Transmitter Name",
					"data": "name"
				},
				{
					"title": "Simcard #",
					"data": "sim_number"
				},
				{
					"title": "Post #",
					"data": "post_number"
				},
				{
					"title": "Post Desc.",
					"data": "post_description"
				},
				{
					"title": "Location",
					"data": "location"
				},
				{
					"title": "Actions",
					"data": "id",
					"render": function(data) {
						var btn = "<div class='text-center'>";
						btn += "<a class='text-warning fas fa-edit' href='/transmitter/edit/"+data+"'></a>  ";
						btn += "<a class='text-danger fas fa-trash delete' id='"+data+"'></a>";
						btn += '</div>';
						return btn;
					}
				}
			],
			dom: 'Bfrtip',
			buttons: [
				'copyHtml5',
				'excelHtml5',
				'csvHtml5',
				'pdfHtml5',
				{
					text: '<i class="fas fa-search-location"></i> Maps',
					action: function(e, dt, node, config) {
						window.location.href="/tramsmitter/map";
					}
				},
				{
					// 'text': '<span class="fas fa-plus"></span>',
					'text': '<i class="fas fa-pencil-alt"></i> Add',
					'action': function(e, dt, node, config) {
						window.location.href="/transmitter/add";
					}
				},
			],
		});

		function refresh() {
			$("#transmitters_table").DataTable().ajax.reload(null, false);
		}

		console.log($("#transmitters_table").DataTable().buttons()[0]);

		$(document).on('click', '.delete', function(){
			var id = $(this).attr('id');
			$confirm("Do you want to delete?", "#FF9100")
			.then(() => {
				$.ajax({
					url:'/transmitter/delete',
					method:'post',
					data:{id:id},
					success:function(data){
						if (data == 'success') {
							refresh();
							$toast("Deleted", "#dc3545");
						}
						else 
							$toast("Failed", "#dc3545");
					}
				})
			})
		})

	});
</script>
{% endblock %}

