{% extends 'base.html' %}

{% block title %}GSM Surge Warner - Extra SMS{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}">
{% endblock %}

{% block body %}
{% include '/comp/sms.html' %}
{% include '/comp/compose.html' %}
<div>
    <div class="row">
        <div class="col-md-3" style="border-right: 1px solid grey;">		
			{% include 'arduino.html' %}
        </div>
        <div class="col-md-9">
			<div>
				<h3><span class="fas fa-comment"></span> Extra messages
				</h3>
			</div>
            <hr>
            <div class="container" style="overflow-y: scroll; overflow-x: scroll; height: 450px;">
                <table id="smstable">
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function(){

        $("#smstable").DataTable({
            'pageLength': 8,
            'processing': true,
            'ajax': {
                'url': '/arduino/smsdum',
                method:'post',
                'dataSrc': ''
            },
            'columns':[
                {
                    title:'<div class="text-center"><i class="fas fa-envelope"></i></div>',
                    data:'is_opened',
                    render: function(data) {
                        var div = "<div class='text-center'>";
                            if (data == true) {
                                div += "<i class='fas fa-envelope-open text-muted'></i>";
                            }
                            else {
                                div += "<i class='fas text-info fa-envelope'></i>";
                            }
                        return div += "</div>";
                    }
                },
                {
                    title:'Number',
                    data:'number',
                },
                {
                    title:'Message',
                    data:'message',
                },
                {
                    title:'Datetime',
                    data:'date_sent',
                    render:function(data) {
                        // console.log(data);
                        var dd = $.format.date(data, "dd-MM-yyyy HH:mm:ss ");
                        // console.log(dd);
                        // var d = jQuery.format.prettyDate(data);
                        return "<span>"+dd+"</span>";
                    }
                },
                {
                    title:'<div class="text-center">Actions</div>',
                    data:'id',
                    render:function(data) {
                        var div = "<div class='text-center'>";
                                div += "<a class='fas btn btn-link btn-sm fa-search text-info view-sms' id='"+data+"'></i><span> </a>";
                                div += "<a class='fas btn btn-link btn-sm fa-trash text-danger delete' id='"+data+"'></a>";
                            div += "</div>";
                        return div;
                    }
                },
            ],
            dom: 'Bfrtip',
            buttons:[
                {
                    text:'Compose',
                    action:function(e, dt, node, config) {
                        $("#compose_sms_modal").modal('show');
                    }
                },
                {
                    text:'Delete all',
                    action:function(e, dt, node, config) {
                        $.ajax({
                            url:'/arduino/delete-all-sms',
                            method:'post',
                            data:{},
                            syccess:function(data) {
                                console.log("delete all sms data in arduino/smslist");
                                toastr.warning("All message cleared!");
                                refresh();
                            }
                        })
                    }
                }
            ],
            "order": [[ 3, "desc" ]],
        });

        function refresh() {
			$("#smstable").DataTable().ajax.reload(null, false);
        }
        
        setInterval(refresh, 5000);

        // function deleteAllMessage() {
        //     $.ajax({
        //         url:'/arduino/delete-all-sms',
        //         method:'post',
        //         data:{},
        //         syccess:function(data) {
        //             console.log("delete all sms data in arduino/smslist");
        //             refresh();
        //         }
        //     })
        // }

        function makeToast(type, message) {
			if (type == 'success') {			
				toastr.success(message);
			}
			else if (type == 'failed') {			
				toastr.warning(message);
			}
			else if (type == 'missing data') {
				toastr.warning(message);
			}
			else if (type == 'error') {
				toastr.error(message);
			}
			else {
				toastr.info(message);
			}
		}
        
        $("#form").on("submit", function(e){
            e.preventDefault();
            $.ajax({
                url:'/arduino/send',
                method:'POST',
                processData:false,
                contentType:false,
                data:new FormData(this),
                success:function(data) {
                    $("#compose_sms_modal").modal('hide');
                    $("#form")[0].reset();
                    toastr.success("Message sent");
                }
            })
        });

        $(document).on('click', '.delete', function(){
            var id = $(this).attr('id');
            
			$confirm("Do you want to delete?", "#FF9100")
			.then(() => {
                $.ajax({
                    url:'/extrasms/delete',
                    method:'post',
                    data:{id:id},
                    success:function(data){
                        if (data == "success") {
                            $toast("Delete successful", "#018401");
                            refresh();
                        }
                        else {
                            $toast("Delete failed", "#dc3545");
                        }
                    }
                })
            })
        })

        $(document).on('click', '.view-sms', function(){
            // $("#smsModal").modal('show');

            var id = $(this).attr('id');
            // alert(id);return;

            $.ajax({
                url:'/extrasms/view',
                method:'post',
                data:{id:id},
                success:function(data) {
                    console.log(data);
                    $("#number").text(data.number);
                    $("#message").text(data.message);
                    $("#smsModal").modal('show');
                }
            })
        })
    })
</script>
{% endblock %}