<div class="modal zoom" role="dialog" id="smsModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <span class="fas fa-user-circle" style="font-size: 4rem;"></span>
                    <span id="number" style="font-size: 1.5rem;"></span>
                </div>
                <small class=" text-info">Message:</small>
                <div class="border rounded">
                    <p class="text-dark font-weight-bold" id="message" style="padding: 3px;"></p>
                </div>
            </div>
        </div>
    </div>
</div>