{% extends 'base.html' %}

{% block tile %}Register Admin{% endblock %}

{% block head %} {% endblock %}

{% block body %}
<h1 class="text-center">Register Admin</h1>
<div>
	<form method="POST" action="/admin/register_admin" style="width: 60%; margin: auto;">
		<div>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for msg in messages %}
						<p class="alert alert-danger">
							{{msg}}
						</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>
		<div class="from-group">
			<label>Username:</label>
			<input type="text" name="username" required="true" class="form-control">
		</div>
		<div class="from-group">
			<label>Email:</label>
			<input type="email" name="email" required="true" class="form-control">
		</div>
		<div class="from-group">
			<label>Password:</label>
			<input type="password" name="password" required="true" class="form-control">
		</div>
		<div class="from-group">
			<label>Confirm Password:</label>
			<input type="password" name="password2" required="true" class="form-control">
		</div>
		<div class="modal-footer">
			<div class="from-group">
				<input type="button" class="btn btn-warning" value="Clear">
				<input type="submit" class="btn btn-info" value="Register">
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block script %} {% endblock %}