<aside class="sidebar" style="background-color: rgb(255, 255, 255);">
		
    <div class="side-inner">

      <div class="share" style="margin-top: -3%;">
          <div class="text-center">
            <h1 class="fas fa-broadcast-tower text-primary"></h1>
          </div>
        <h4 class="text-center text-muted">GSM Surge Warner</h4>
        <hr>
        <ul style="list-style-type: none;">
            <strong class="text-muted">Main</strong>
            <li>
                <a class="nav-link text-muted" href="/"><h5><span class="fas fa-home"></span> Home</h5></a>
            </li>
            <li>
                <a class="nav-link text-muted" href="/dashboard"><h5><span class="fas fa-tachometer-alt"></span> Dashboard</h5></a>
            </li>
            <li>
                <a class="nav-link text-muted" href="/transmitter"><h5><span class="fas fa-broadcast-tower"></span> Transmitters</h5></a>
            </li>
            <li>
                <a class="nav-link text-muted" href="/configurations"><h5><span class="fas fa-cog"></span> Configuration</h5></a>
            </li>
            <li>
                <a class="nav-link text-muted" href="#"><h5><span class="fas fa-user-circle"></span> Profile</h5></a>
            </li>
            <li>
                <a class="nav-link text-muted" href="/logout"><h5><span class="fas fa-sign-out-alt"></span> Logout</h5></a>
            </li>
        </ul>
        <hr>
        <ul style="list-style-type: none;">
            <strong class="text-muted">Presentation</strong>
            <li>
                <a class="nav-link text-muted" href="/sms">
                    <h5><span class="fas fa-comment-alt"></span> SMS
                        <small class="badge badge-pill badge-danger">12</small>
                    </h5>
                </a>
            </li>
            <li>
                <a class="nav-link text-muted" href="/graph"><h5><span class="fas fa-line-chart"></span> Graph</h5></a>
            </li>
            <li>
                <a class="nav-link text-muted" href="/realtime"><h5><span class="fas fa-clock"></span> Realtime
                    <small class="badge badge-pill badge-success text-white"><span class="fas fa-rss"></span></small>
                </h5>
            </a>
            </li>
        </ul>
        <hr>
        <ul style="list-style-type: none;">
            <strong class="text-muted">Others</strong>
            <li>
                <a class="nav-link text-muted" href="/extrasms">
                    <h5><span class="fas fa-comment-dots"></span> Extra SMS
                        <small class="badge badge-pill badge-danger">12</small>
                    </h5>
                </a>
            </li>
            <li>
                <a class="nav-link text-muted" href="/users"><h5><span class="fas fa-users"></span> Users</h5></a>
            </li>
        </ul>
        <hr>
        <ul style="list-style-type: none;">
            <strong class="text-muted">Miscellaneous</strong>
            <li>
                <a class="nav-link text-muted" href="#"><h5><span class="fas fa-trash"></span> Recycle bin
                </h5>
            </a>
            </li>
        </ul>

        <div class="text-center">
            <p class="text-muted">
                <small>Some text here</small>
            </p>
        </div>
      </div>		  
    </div>		
  </aside>
  <script>
      $(document).ready(function(){
          console.log("hi9");
      })
  </script>