<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>

	{{ fontawesome_html() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<style>
		li {
			list-style-type: none;
		}
	</style>
	{% block head %}{% endblock %}
</head>
<body class="d-flex flex-column">
	<!-- nav -->
	{% include 'nav.html' %}
	<!-- end nav -->

	<!-- ASIDE -->
	{% include 'aside.html' %}
	<!-- END ASIDE -->

	<main>
		<div class="container">
			<br>
			{% block body %} {% endblock %}
		</div>
	</main>


	
	<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
		<div class="container text-center">
			<small>Copyright &copy; Your Website</small>
		</div>
	</footer>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/pooper.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/shieldui-all.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main2.js') }}"></script>

	{% block script %}{% endblock %}
</body>
</html>
