<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">GSM Surge Warner</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          {% if 'email' in session %}
          <li id="dashboard"><a href="/users/dashboard">Dashboard</a></li>
          <li id="sms"><a href="/sms">sms</a></li>
          <li id="graph"><a href="/graph">graph</a></li>
          <li id="realtime"><a href="/map">map</a></li>
          {% endif %}
          <li>
            <a href="#">
              <span class="fas fa-bell"></span>
            </a>
          </li>

        </ul>
      </nav><!-- .nav-menu -->

      

      {% if 'email' in session %}
      <div class="toggle">
          <a href="#" class="js-menu-toggle menu-toggle get-started-btn scrollto">
              <span class="fas fa-bars" style="font-size: 1rem;"></span>
          </a>
      </div>        
      {% else %}
      <a href="/users/login" class="get-started-btn scrollto">Get Started</a>
      {% endif %}

    </div>
  </header><!-- End Header -->