<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="margin-left: 10px;"><span class="fas fa-broadcast-tower"></span> GSM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><span class="fas fa-bell"></span> 
                    <small class="badge badge-pill badge-danger">1</small>
                </a>
            </li>
        </ul>
    </div>
    <!-- <div>
        <a class="nav-link"><span class="fas fa-bars"></span></a>
    </div> -->
    <div class="toggle">
        <a href="#" class="js-menu-toggle menu-toggle">
          <span class="fas fa-bars"></span>
        </a>
      </div>
</nav>