<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">GSM Surge Warner</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          {% if 'email' in session %}
            {% if 'dashboard' in session['role_access'] %} 
            <li id="dashboard"><a href="/users/dashboard">Dashboard</a></li>
            {% endif %}
            {% if 'sms' in session['role_access'] %} 
            <li id="sms"><a href="/sms">sms</a></li>
            {% endif %}
            {% if 'graph' in session['role_access'] %} 
            <li id="graph"><a href="/graph">graph</a></li>
            {% endif %}
            {% if 'map' in session['role_access'] %} 
            <li id="realtime"><a href="/map">map</a></li>
            {% endif %}
          {% endif %}
          <li style="cursor: pointer;">
            <div class="dropdown">              
              <span class="fas fa-broadcast-tower text-light dropdown-toggle" id="alert_dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="badge badge-pill badge-danger alert_notification"></span>
                <div class="dropdown-menu" aria-labelledby="alert_dropdownmenu">
                  <div class="container">
                    <h6 class="dropdown-header text-center fas fa-broadcast-tower"> Warnings</h6>
                    <div id="alert_notification_holder">
                    </div>
                    <a href="/sms">
                      <a style="font-size: .7rem;" class="text-primary text-center btn btn-link" href="/sms">See all</a>
                    </a>
                  </div>
                </div>
              </span>
            </div>
          </li>
          
          <li style="cursor: pointer;">
            <div class="dropdown">              
              <span class="fas fa-comment text-light dropdown-toggle" id="extrasms_dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="badge badge-pill badge-warning extrasms_notification"></span>
                <div class="dropdown-menu" aria-labelledby="extrasms_dropdownmenu">
                  <div class="container">
                    <h6 class="dropdown-header text-center fas fa-comment"> Messages</h6>
                    <div id="extrasms_notification_holder">
                      <!-- <div class="dropdown-item border rounded">
                        <span class="fas fa-user-circle"></span>
                        <small>+63932156465</small>
                        <br>
                        <small>
                          <small class="textdot">Messagelkjslfkjlkjsdflkjsdflkjsdflkj</small>
                        </small>
                      </div> -->
                    </div>
                    <a style="font-size: .7rem;" class="text-primary text-center btn btn-link" href="/sms">See all</a>
                  </div>
                </div>
              </span>
            </div>
          </li>

        </ul>
      </nav><!-- .nav-menu -->

      

      {% if 'email' in session %}
      <div class="toggle">
          <a href="#" class="js-menu-toggle menu-toggle get-started-btn scrollto">
              <span class="fas fa-bars" style="font-size: 1rem;"></span>
          </a>
      </div>        
      {% else %}
      <a href="/users/login" class="get-started-btn scrollto">Get Started</a>
      {% endif %}

    </div>
  </header><!-- End Header -->