{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<div class="card card-info" style="width: 70%; margin: auto;">
	<div class="card-header">
	  <h3 class="card-title">User registration form</h3>
	</div>
	<!-- /.card-header -->
	<!-- form start -->
	<form class="form-horizontal">
	  <div class="card-body">	
		  <div>
			  <legend>Personal information</legend>
			  <div class="container">
				  <div>
					  <i class="fas fa-user" style="font-size: 3rem;"></i>
				  </div>
				<div class="form-group row">
					<label for="" class="col-sm-2 col-form-label">Image</label>
					<div class="input-group col-sm-10">
						<div class="custom-file">
						<input type="file" class="custom-file-input" id="exampleInputFile">
						<label class="custom-file-label" for="exampleInputFile">Choose file</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="" class="col-sm-2 col-form-label">First name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="First name">
					</div>
				</div>
				<div class="form-group row">
					<label for="" class="col-sm-2 col-form-label">Middle name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Middle name">
					</div>
				</div>
				<div class="form-group row">
					<label for="" class="col-sm-2 col-form-label">Last name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Last name">
					</div>
				</div>
			  </div>
		  </div>
		  <div class="container">
			<hr>
		  </div>
		  <div>
			  <legend>Account information</legend>
			  <div class="container">
				<div class="form-group row">
					<label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-10">
					  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
					<div class="col-sm-10">
					  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
					</div>
				  </div>
				  <div class="form-group row">
					<label for="inputPassword3" class="col-sm-2 col-form-label">Re-enter password</label>
					<div class="col-sm-10">
					  <input type="password" class="form-control" placeholder="Re-enter password">
					</div>
				  </div>
			  </div>
		  </div>		
	  </div>
	  <!-- /.card-body -->
	  <div class="card-footer">
		<button type="submit" class="btn btn-info">Sign up</button>
		<button type="submit" class="btn btn-default float-right">Cancel</button>
	  </div>
	  <!-- /.card-footer -->
	</form>
  </div>
  <!-- /.card -->
{% endblock %}
<br>
<br>
{% block script %}
<!-- <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}