{% extends 'base.html' %}

{% block title %}Sms{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-3" style="border-right: 1px solid grey;">		
			{% include 'arduino.html' %}
		</div>
		<div class="col-md-9">
			<div>
				<h3><span class="fas fa-cog"></span> Configurations</h3>
			</div>
			<hr>
			<div class="container" style="overflow-y: scroll; height: 500px;">
				<div>
					<h2>Transmitter responce delay (for realtime monitoring)</h2>
					<form>
						<div class="form-group">
							<select class="form-control">
								<option>30min</option>
								<option>1hr</option>
								<option>1hr 30min</option>
							</select>
						</div>
						<div class="form-group text-right">
							<button id="test" type="submit" class="btn btn-success">Restore</button>
							<button type="submit" class="btn btn-warning">Save changes</button>
						</div>
					</form>
				</div>
				<hr>
				<div>
					<h2>Request responce from compatible transmitter</h2>
					<form>
						<div class="form-group">
							<select class="form-control selectpicker">
								<option>Transmitter name 1 <i class="fas fa-user" aria-hidden='true'></i></option>
								<option>Transmitter name 2</option>
								<option>Transmitter name 3</option>
							</select>
						</div>
						<div class="from-group">
							<h1 class="fas fa-microchip text-primary"></h1>
							<h1 class="fas fa-check-circle text-success"></h1>
						</div>
						<div class="form-group text-right">
							<button type="submit" class="btn btn-success fas fa-paper-plane"> Request</button>
						</div>
					</form>
				</div>
				<hr>
				<div>
					<h2>Default Transmitter (Graph)</h2>
					<form>
						<div class="form-group">
							<select class="form-control selectpicker">
								<option>Transmitter name 1 <i class="fas fa-user" aria-hidden='true'></i></option>
								<option>Transmitter name 2</option>
								<option>Transmitter name 3</option>
							</select>
						</div>
						<div class="form-group text-right">
							<button id="test" type="submit" class="btn btn-success">Restore</button>
							<button type="submit" class="btn btn-warning">Save changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
<script language="javascript">
	$(document).ready(function(){
		$("#test").on("click", function(e){
			e.preventDefault();
			$("#success_modal").modal("show");
		})
	});
</script>
{% endblock %}